<div class="col-12 pb-4">
  <div class="card my-2">
    <div class="card-header">
      <h2>Praticien : Dr {{ leRendezVous.praticien.nom }} {{ leRendezVous.praticien.prenom }}</h2>
      <h3>Patient : {{ leRendezVous.patient.nom }} {{ leRendezVous.patient.prenom }}</h3>
    </div>
    <div class="card-body">
        <div class="w-100">
          <p>Date : <strong>{{ leRendezVous.dateDebut | date }}</strong></p>
          <p>Heure : <strong>{{ leRendezVous.dateDebut | date:'shortTime' }}</strong></p>
          <p>Besoin : <strong>{{ leRendezVous.praticien.specialite }}</strong></p>
          <p>Motif de la consultation : <strong>{{ leRendezVous.motif }}</strong></p>
        </div>
    </div>
  </div>
</div>
