<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="form w-25 p-4 my-5 mx-auto borderLightBlue">
  <h3 class="text-center">Connectez vous</h3>
  <hr class="hrLightBlue">
  <div class="form-group">
    <label for="email">Adresse mail :</label>
    <input name="email" id="email" type="email"
          class="form-control" placeholder="adresse@mail.com"
          ngModel #monEmail="ngModel" required>
  </div>
  <p class="help-block texte-rouge" *ngIf="monEmail.invalid && monEmail.touched">L'adresse mail doit être saisis !</p>
  <hr class="hrLightBlue">
  <div class="form-group">
    <label for="password">Mot de passe :</label>
    <input name="password" id="password" type="password"
          class="form-control" placeholder="Mot de passe"
          ngModel #monMdp="ngModel" required>
  </div>
  <p class="help-block texte-rouge" *ngIf="monMdp.invalid && monMdp.touched">Le mot de passe doit être saisis !</p>
  <hr class="hrLightBlue">
  <div class="text-center">
    <button type="submit" value="login" class="w-50 btn btn-primary">Envoyer</button>
  </div>
</form>
