<div class="container">
  <h1 class="text-center my-4">Détail du praticien</h1>
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="borderLightBlue backGroundWhite p-4 my-2">
        <h3 class="mb-2">Présentation</h3>
        <hr class="hrLightBlue">
        <p>Docteur {{ praticien.nom }} {{ praticien.prenom }}</p>
        <p>{{ praticien.specialite }}</p>
        <p>0{{ praticien.telephone }}</p>
        <div class="row d-flex justify-content-around">
          <div class="col-4">
            <a href="" [routerLink]="['/modif-praticien/',praticien.id]" class="btn btn-primary w-100">
              Modifier
            </a>
          </div>
          <div class="col-4">
            <a href="" class="btn btn-primary w-100">
              Prendre rendez vous
            </a>
          </div>
        </div>
      </div>
      <div class="borderLightBlue backGroundWhite p-4 my-4">
        <h3 class="mb-2">Tarifs et remboursements :</h3>
        <hr class="hrLightBlue">
        <p>Conventionné secteur 1</p>
        <p>Carte vitale acceptée</p>
        <p>Voir les tarifs</p>
      </div>
      <div class="borderLightBlue backGroundWhite p-4 my-4">
        <h3 class="mb-2">Informations cabinet médical</h3>
        <hr class="hrLightBlue">
        <h4>{{ praticien.adresse.denomination }}</h4>
        <p>{{ praticien.adresse.libelleVoie }}</p>
        <p>{{ praticien.adresse.codePostal }}, {{ praticien.adresse.ville }}</p>
        <p>{{ praticien.adresse.pays }}</p>
      </div>
      <div class="borderLightBlue backGroundWhite p-4 my-2">
        <h3 class="mb-2">Informations pratiques</h3>
        <hr class="hrLightBlue">
        <p>Premier étage sans ascenseur</p>
        <p>Accès handicapé</p>
        <p>Parking payant</p>
      </div>
    </div>
    <div class="col-12 col-md-4 w-100">
      <h2 class="text-center">Disponibilités</h2>
      <div class="borderLightBlue backGroundWhite"></div>
    </div>
  </div>
</div>
