<div class="col-12 pb-4">
  <div class="card my-2">
    <div class="card-header">
      <h2>Dr {{ lePraticien.nom }} {{ lePraticien.prenom }}</h2>
      <h3>{{ lePraticien.specialite }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h3>Dénomination cabinet</h3>
          <p>Adresse cabinet</p>
          <p>Ville</p>
          <p>conventionné secteur 1</p>
        </div>
        <div class="col-4">
          <a href="" [routerLink]="['/detail-praticien/lePraticien.id']" class="btn btn-primary">
            Voir le praticien
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
