
<div class="container w-50 m-auto">
  <h1 class="text-center">Prendre rendez-vous</h1>
  <div class="col-12 my-4">
    <form (ngSubmit)="addRendezVous(subscriptionForm.value)" #subscriptionForm="ngForm" class="form borderLightBlue p-4">

      Nom : <input type="text" id="nom" name="nom"
                  class="form-control" ngModel
                  required #monNom="ngModel">
      <p class="help-block texte-rouge" *ngIf="monNom.invalid && monNom.touched">Le nom doit être saisis !</p>
      <hr class="hrLightBlue">

      Patient: <input type="number" name="patient"
                    class="form-control" ngModel
                    required #monPatient>
      <p class="help-block texte-rouge" *ngIf="monPatient.invalid && monPatient.touched">L'adresse du cabinet doit être saisis !</p>
      Praticien: <input type="number" name="praticien"
                    class="form-control" ngModel
                    required #monPraticien>
      <p class="help-block texte-rouge" *ngIf="monPraticien.invalid && monPraticien.touched">L'adresse du cabinet doit être saisis !</p>

      <div formArrayName="listePraticiens">
        <h2>Nom du praticien :</h2>
          <select class="form-control"
                  name="adresse"
                  id="adresse" ngModel>
            <option value=i *ngFor="let praticien of listePraticiens, index as i"  >
              {{ praticien.nom }}
            </option>
          </select>
      </div>

      <div class="text-center my-5">
        <input type="submit" [disabled]="subscriptionForm.invalid" value="Valider" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
