/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(214, 247, 253)!important;
}

.borderLightBlue{
  border: 2px outset lightblue;
  border-radius: 0.5em;
}

form{
  background-color: #fff;
}

