/* You can add global styles to this file, and also import other style files */

body {
  //background-color: rgb(214, 247, 253);
  background: linear-gradient(#b7ecfc, #61c5ff)!important;
  min-height: 100vh;
  box-sizing: border-box;
}

header
{
  background-image: url("assets/images/stethoscope-2617701_1920.jpg");
  background-size: cover;
  height: auto;
  min-height: 340px;
  width: 100%;
  position: relative;
}

.searchBar{
  width: 100%;
  box-sizing: border-box;
  margin: 200px auto 30px;
  position: absolute;
}
.searchBar form {
  width: 40%;
  margin: auto;
  background-color: transparent;
}

.borderLightBlue{
  border: 2px outset lightblue;
  border-radius: 0.5em;
}

form{
  background-color: #fff;
}

.card {
  width: 500px!important;
  height: 360px;
}

.backGroundWhite{
  background-color: #fff;
}

.hrLightBlue {
  width: 100%;
  border-top: 1.5px lightblue outset;
  margin-left: 0;
}

footer {
  height: 100px;
  background-color: #b1edff
}
.linkLinkedin {
  color: black;
}

/**CALENDRIER***/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
