<div class="container w-50 m-auto">
  <div class="col-12 my-4">
    <form (ngSubmit)="addPatient(subscriptionForm)" #subscriptionForm="ngForm" class="form borderLightBlue p-4">
      <h1 class="text-center my-5">Inscription Patient</h1>

      <input type="hidden" name="role" value="patient">

      Nom : <input type="text" id="nom" name="nom"
                  class="form-control" ngModel
                  required #monNom="ngModel">
      <p class="help-block texte-rouge" *ngIf="monNom.invalid && monNom.touched">Le nom doit être saisis !</p>
      <hr class="hrLightBlue">
      Prénom: <input type="text" name="prenom"
                  class="form-control" ngModel
                  required #monPrenom>
      <p class="help-block texte-rouge" *ngIf="monPrenom.invalid && monPrenom.touched">Le prénom doit être saisis !</p>
      <hr class="hrLightBlue">
      Adresse mail: <input type="email" name="email"
                  class="form-control" ngModel
                  required #monEmail>
      <p class="help-block texte-rouge" *ngIf="monEmail.invalid && monEmail.touched">L'adresse mail doit être saisis !</p>
      <hr class="hrLightBlue">
      Téléphone: <input type="number" name="telephone"
                  class="form-control" ngModel
                  required #monTelephone>
      <p class="help-block texte-rouge" *ngIf="monTelephone.invalid && monTelephone.touched">Le numéro de téléphone doit être saisis !</p>
      <hr class="hrLightBlue">
      Date de naissance: <input type="date" name="dateNaissance"
                  class="form-control" ngModel
                  required #maDateNaissance>
      <p class="help-block texte-rouge" *ngIf="maDateNaissance.invalid && maDateNaissance.touched">Le prénom doit être saisis !</p>
      <hr class="hrLightBlue">
      Mot de passe: <input type="password" name="password"
                  class="form-control" ngModel
                  required #monMdp>
      <p class="help-block texte-rouge" *ngIf="monMdp.invalid && monMdp.touched">Le mot de passe doit être saisis !</p>

      <div class="text-center my-5">
        <input type="submit" [disabled]="subscriptionForm.invalid" value="Valider" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
