<div class="container-fluid pb-4 px-0">

    <header>
        <div class="searchBar">
        <form class="form-inline row">
            <input class="form-control col-8 mx-2"
                type="search" placeholder="Search" aria-label="Search"
                (keyup)="onKeyUp($event)" #searchBar>
            <a class="btn btn-outline-success col-3"
                type="submit"
                [routerLink]="['/liste-praticien']"
                [queryParams]="{ search: inputValue }"
                queryParamsHandling="merge">
                Search
            </a>
        </form>
        </div>
    </header>

    <div class="col-12 col-md-8 m-auto">
        <h1 class="text-center py-5">BIENVENUE SUR DOCTO'LIB</h1>
        <button class="btn btn-primary" routerLink="liste-praticien">Liste des praticiens</button>
        <div class="sectionAccueil my-4 p-4">
            <h2 class="h-25">Mes rendez-vous à venir</h2>
        </div>
        <div class="sectionAccueil my-4 p-4">
            <h2 class="h-25">Mes rendez-vous passés</h2>
        </div>
    </div>
</div>
